<h2><%= @rental.property_name %></h2>
  <div class="roundedpicture"><%= image_tag @rental.image.url(:large)%></div>
  <div class="publicRentalInfo">
    <ul>Agent: <%= @rental.agent %></ul>
    <ul>Address: <%= @rental.address %>, <%= @rental.city %>, <%= @rental.state %>, <%= @rental.zipcode %></ul>
    <ul>Monthly Rent: <%= @rental.monthly_rent %></ul>
    <ul>Number of Beds: <%= @rental.bed_num%></ul>
    <ul>Number of Baths: <%= @rental.bath_num %></ul>
    <ul>Availability Date: <%= @rental.availability_date %></ul>
    <ul>Listing Notes: <%= @rental.listing_notes %></ul>
  </div>

  <% if user_signed_in? %>
    <% if current_user.privilege == 2 || current_user.privilege == 3  %>
      <h3>Realtor Only <%= link_to edit_rental_path(@rental), class: 'btn btn-info btn-md' do %>
        <i class="glyphicon glyphicon-pencil"></i><% end %></h3>
          <div class="agentRentalInfo">
            <ul>Posted <%= time_ago_in_words(@rental.created_at) %> ago</ul>
            <ul>Client Name: <%= @rental.client_name %></ul>
            <ul>Client Phone: <%= @rental.client_phone %></ul>
            <ul>Client Email: <%= @rental.client_email %></ul>
            <ul>Agent Notes: <%= @rental.admin_notes %></ul>
          </div>
    <% end %>
  <% end %>

  <%= render partial: "inquiry_form" %>
