
<h2><%= @rental.property_name %></h2>
<h3>Public Info</h3>

<%= image_tag @rental.image.url(:large)%>

<p class="publicRentalInfo">
  <ul>Agent: <%= @rental.agent %></ul>
  <ul>Address: <%= @rental.address %>, <%= @rental.city %>, <%= @rental.state %>, <%= @rental.zipcode %></ul>

  <ul>Monthly Rent: <%= @rental.monthly_rent %></ul>
  <ul>Number of Beds: <%= @rental.bed_num%></ul>
  <ul>Number of Baths: <%= @rental.bath_num %></ul>
  <ul>Availability Date: <%= @rental.availability_date %></ul>
  <ul>Listing Notes: <%= @rental.listing_notes %></ul>
</p>

<h3>Realtor Only <%= link_to("(edit)", edit_rental_path(@rental))%></h3>
<p class="agentRentalInfo">
<ul>Posted: <%= time_ago_in_words(@rental.created_at) %></ul>
<ul>Client Name: <%= @rental.client_name %></ul>
<ul>Client Phone: <%= @rental.client_phone %></ul>
<ul>Client Email: <%= @rental.client_email %></ul>
<ul>Agent Notes: <%= @rental.admin_notes %></ul>
</p>

<h3>Interested? Inquire Below</h3>
<p>
<%= form_for([@rental, Inquiry.new]) do |f| %>

  <%= f.label :first_name, "First Name" %>
  <br>
  <%= f.text_field :first_name %>
  <br>
  <br>
  <%= f.label :last_name, "Last Name" %>
  <br>
  <%= f.text_field :last_name %>
  <br>
  <br>
  <%= f.label :credit_score, "Credit Score" %><a href="https://www.creditkarma.com/" target="_blank">[i]</a>
  <br>
  <%= f.text_field :credit_score %>
  <br>
  <br>
  <%= f.label :num_pets, "Number of Pets" %>
  <br>
  <%= f.text_field :num_pets %>
  <br>
  <br>
  <%= f.label :explain_pets, "Please specify breed, weight, etc (if applies)" %>
  <br>
  <%= f.text_area :explain_pets %>
  <br>
  <br>
  <%= f.label :phone, "Primary Phone Number" %>
  <br>
  <%= f.text_field :phone %>
  <br>
  <br>
  <%= f.label :email, "Primary Email" %>
  <br>
  <%= f.text_field :email %>
  <br>
  <br>
  <%= f.label :num_tenants, "How many tenants (including yourself)" %>
  <br>
  <%= f.text_field :num_tenants %>
  <br>
  <br>
  <%= f.label :relation_tenants, "Please specify relation of tenants (if applies)" %>
  <br>
  <%= f.text_field :relation_tenants %>
  <br>
  <br>
  <%= f.label :inquiry_notes, "Message to listing agent (optional)" %>
  <br>
  <%= f.text_area :inquiry_notes %>
  <br>
  <br>
  <%= f.submit "Submit" %>
<% end  %>
</p>
