
<h2><%= @rental.property_name %></h2>
<h3>Public Info</h3>

<%= image_tag @rental.image.url(:large)%>

<p class="publicRentalInfo">
  <ul>Agent: <%= @rental.agent %></ul>
  <ul>Address: <%= @rental.address %>, <%= @rental.city %>, <%= @rental.state %>, <%= @rental.zipcode %></ul>

  <ul>Monthly Rent: <%= @rental.monthly_rent %></ul>
  <ul>Number of Beds: <%= @rental.bed_num%></ul>
  <ul>Number of Baths: <%= @rental.bath_num %></ul>
  <ul>Availability Date: <%= @rental.availability_date %></ul>
  <ul>Listing Notes: <%= @rental.listing_notes %></ul>
</p>

<% if user_signed_in? %>
  <h3>Realtor Only <%= link_to edit_rental_path(@rental), class: 'btn btn-info btn-md' do %>
    <i class="glyphicon glyphicon-pencil"></i><% end %></h3>
  <p class="agentRentalInfo">
    <ul>Posted <%= time_ago_in_words(@rental.created_at) %> ago</ul>
    <ul>Client Name: <%= @rental.client_name %></ul>
    <ul>Client Phone: <%= @rental.client_phone %></ul>
    <ul>Client Email: <%= @rental.client_email %></ul>
    <ul>Agent Notes: <%= @rental.admin_notes %></ul>
  </p>
<% end %>

<h3>Interested? Inquire Below</h3>

<%= form_for([@rental, Inquiry.new]) do |f| %>

  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>
  <%= f.label :credit_score, "Credit Score" %>
    <%= link_to "https://www.creditkarma.com/", target: "_blank", class: 'btn btn-success btn-xs' do %>
    <i class="glyphicon glyphicon-search"></i><%end%>
  <%= f.text_field :credit_score %>
  <%= f.label :num_pets, "Number of Pets" %>
  <%= f.text_field :num_pets %>
  <%= f.label :explain_pets, "Please specify breed, weight, etc (if applies)" %>
  <%= f.text_area :explain_pets %>
  <%= f.label :phone, "Primary Phone Number" %>
  <%= f.text_field :phone %>
  <%= f.label :email, "Primary Email" %>
  <%= f.text_field :email %>
  <%= f.label :num_tenants, "How many tenants (including yourself)" %>
  <%= f.text_field :num_tenants %>
  <%= f.label :relation_tenants, "Please specify relation of tenants (if applies)" %>
  <%= f.text_field :relation_tenants %>
  <%= f.label :inquiry_notes, "Message to listing agent (optional)" %>
  <%= f.text_area :inquiry_notes %>
  <%= f.submit "SUBMIT", class: 'btn btn-danger btn-md'%>

<% end  %>
</p>
