<p>
<%= form_for([@inquiry]) do |f| %>

  <%= f.radio_button(:qualification, "Strong Candidate") %>
  <%= label(:qualification, "Strong Candidate") %>
  <%= f.radio_button(:qualification, "Fair Candidate") %>
  <%= label(:qualification, "Fair Candidate") %>
  <%= f.radio_button(:qualification, "Weak Candidate") %>
  <%= label(:qualification, "Weak Candidate") %>
  <%= f.radio_button(:qualification, "None") %>
  <%= label(:qualification, "None") %>
  <%= f.label :admin_notes, "Agent Notes" %>
  <%= f.text_area :admin_notes %>
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>
  <%= f.label :credit_score, "Credit Score" %>
  <%= f.text_field :credit_score %>
  <%= f.label :num_pets, "Numbe of Pets" %>
  <%= f.text_field :num_pets %>
  <%= f.label :explain_pets, "Please specify breed, weight, etc (if applies)" %>
  <%= f.text_area :explain_pets %>
  <%= f.label :phone, "Primary Phone Number" %>
  <%= f.text_field :phone %>
  <%= f.label :email, "Primary Email" %>
  <%= f.text_field :email %>
  <%= f.label :num_tenants, "How many tenants (including yourself)" %>
  <%= f.text_field :num_tenants %>
  <%= f.label :relation_tenants, "Please specify relation of tenants (if applies)" %>
  <%= f.text_field :relation_tenants %>
  <%= f.label :inquiry_notes, "Message to listing agent (optional)" %>
  <%= f.text_area :inquiry_notes %>



  <%= f.submit "UPDATE", class: 'btn btn-info btn-md' %>


<% end  %>
</p>
