<!DOCTYPE html>
<html>
  <head>
    <title>Lynchburg Rentals</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='assets/favicon.ico' />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="container-fluid">
    <%= render 'shared/navbar' %>
      <div class="container-site">
        <div class="flash-notice">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <%= yield %>
      </div>
    <footer>
      Ludovic Lemaitre, Licensed Real Estate Agent
    </footer>

  </body>
</html>
